#app > div > div {
    display: none;
}

.rectangle {
    position: absolute;
    width: 300px;
    height: 380px;
    top: 50px;
    left: 170px;
    border: 1px solid red;
}

.capture-button {
    position: absolute;
    top: 200px;
    left: 660px;
}

.captured-image {
    position: absolute;
    top: 8px;
    left: 760px;
}
